<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudiantes</title>

  <link rel="stylesheet" href="../styles/css/main.css">
</head>

<body>

<div class="app">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2>Académico</h2>

    <nav>
      <a href="index.html">Inicio</a>
      <a href="estudiantes.html" class="active">Estudiantes</a>
      <a href="cursos.html">Cursos</a>
      <a href="inscripciones.html">Inscripciones</a>
    </nav>

    <button id="toggle-dark">Modo oscuro</button>
  </aside>


  <!-- MAIN -->
  <main class="main">

    <header class="header">
      <h1>Gestión de Estudiantes</h1>
    </header>

    <!-- FILTROS -->
    <section class="filters">
      <input id="buscar-estudiante" type="text" placeholder="Buscar por nombre..." />
      
      <select id="filtro-estado">
        <option value="">Todos</option>
        <option value="activo">Activos</option>
        <option value="inactivo">Inactivos</option>
      </select>
    </section>

    <!-- FORMULARIO -->
    <section>
      <form id="form-estudiante" class="form">
        <input name="nombre" type="text" placeholder="Nombre completo" required />
        <input name="correo" type="email" placeholder="Correo" required />
        <input name="edad" type="number" placeholder="Edad" required />
        <input name="carrera" type="text" placeholder="Carrera" required />

        <select name="estado">
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
        </select>

        <button type="submit">Guardar</button>
      </form>
    </section>

    <!-- TABLA -->
    <section>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Edad</th>
            <th>Carrera</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody id="tabla-estudiantes"></tbody>
      </table>
    </section>
    <button id="guardar-todo">Guardar todo</button>

  </main>

</div>

<script type="module" src="../UI/Students.render.js"></script>

</body>
</html>