<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

  <link rel="stylesheet" href="../styles/css/main.css">
</head>

<body>

<div class="app">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2>Académico</h2>

    <nav>
      <a href="index.html" class="active">Inicio</a>
      <a href="../templates/estudiantes.html">Estudiantes</a>
      <a href="../templates/cursos.html">Cursos</a>
      <a href="../templates/inscripciones.html">Inscripciones</a>
      <a href="../templates/dashboard.html">Dashboard</a>
    </nav>

    <button id="toggle-dark">Modo oscuro</button>
  </aside>

  <script type="module" src="/dist/UI/main.js"></script>

  <!-- MAIN -->
  <main class="main home-main">

    <section class="home">
      <h1 class="welcome-title">Bienvenido</h1>
      <p class="welcome-sub">Sistema de Gestión Académica</p>
    </section>

  </main>

</div>

</body>
</html>